{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.author_name }}</a>
      </li>
      {% endfor %}   

      <form action="{% url 'author_create'%}?next={{request.path}}" method="get">
        {% csrf_token %}
        <input type="submit" class="btn" value="Add a new author">
      </form>      

    </ul>
    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %}       
{% endblock %}
