{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if book_list %}
    <ul>
      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.book_title }}</a> ({{ book.display_author }})
      </li>
      {% endfor %}

      <form action="{% url 'book_create'%}?next={{request.path}}" method="get">
        {% csrf_token %}
        <input type="submit" class="btn" value="Add a new book">
      </form> 

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}
